/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
  font-family: "Avant garde";
  src: url("../fonts/itc_avant_garde_gothic_std_medium-webfont.woff2")
      format("woff2"),
    url("../fonts/itc_avant_garde_gothic_std_medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not(:disabled),
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #e4e4e4;
  --color-border: #2b2b2b;
  --dropshadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/****************/
/* JOUW STYLING */
/****************/
img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body {
  font-family: "avant garde", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  overflow: hidden;
  font-weight: 800;
}

/* jouw code */

/* header | Hamburger Menu */

body section:nth-of-type(1) {
  height: 17em;
  background-color: var(--color-background);
  border-bottom: 5px solid var(--color-border);
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
  z-index: 2;

  top: -100vw;
  overflow: hidden;
  transition: 0.5s linear;
}

body section:nth-of-type(1) div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5% -2% 5%;
  height: 3.2em;
}

body section:nth-of-type(1) div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

body section:nth-of-type(1) ul {
  width: 95%;
  height: fit-content;
  overflow: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
}

body section:nth-of-type(1) ul li {
  margin: 0px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  scroll-snap-align: center;
}

body section:nth-of-type(1) ul li img {
  width: 8em;
  border-radius: 5px;
}

body section:nth-of-type(1) ul li p {
  font-size: 16px;
  margin: 8px 0 0 0;
}

body section:nth-of-type(1) ul li p:nth-of-type(2) {
  font-size: 14px;
  margin: 5px 0 0 0;
}

/* Javaschript Classes | Hamburger Menu */

body section:nth-of-type(1).MenuOpen {
  top: 0;
}

/* Container | Song Overview */

section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 14em;
  border-bottom: 5px solid var(--color-border);

  grid-column-start: 1;
  grid-row-start: 1;
}

section:nth-of-type(2) > img:first-of-type {
  margin-right: 1.5em;
  width: 38%;
  border-radius: 5px;
}

section:nth-of-type(2) > img:nth-of-type(2) {
  order: 4;
  align-self: flex-start;
  margin: 4% 0% 0% -6%;
  width: 2.5em;
}

section:nth-of-type(2) div:nth-of-type(1) {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: start;
}

section:nth-of-type(2) div:nth-of-type(1) h1 {
  margin-bottom: 0;
  font-size: 22px;
}

section:nth-of-type(2) div:nth-of-type(1) h2 {
  margin-bottom: 1.5em;
  font-size: 18px;
}

section:nth-of-type(2) div:nth-of-type(1) input {
  appearance: none;
  position: relative;
  z-index: 1;
  width: 13em;
  height: 0.8em;
  background-color: var(--color-border);
  border-radius: 5px;
  cursor: grab;
}

section:nth-of-type(2) div:nth-of-type(1) input::-webkit-slider-thumb {
  appearance: none;
  background-color: #635c5c;
  width: 1em;
  height: 2.5em;
  border-radius: 5px;
  cursor: grabbing;
}

/* Container | Controls */

section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7em;
  grid-column-start: 1;
  grid-row-start: 2;
}

section:nth-of-type(3) div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  width: 16em;
}

section:nth-of-type(3) div:nth-of-type(1) img {
  width: 4em;
}

/* Container | Current Track | Vinyl */

section:nth-of-type(4) {
  height: 50vh;
  width: 80vw;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  justify-self: end;
  align-self: end;

  overflow: hidden;
}

section:nth-of-type(4) img:nth-of-type(2) {
  width: 16em;
  position: relative;
  z-index: -1;
  bottom: 24em;
  right: -8em;
}


/* Javascript Classes | Vinyl Rotation */

.playing {
  animation: rotate 8s linear infinite;
}

.scratch {
  animation: scratch 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes scratch {
  0% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(420deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}


@media (min-width: 450px) {
  body {
    grid-template-columns: 24em 1fr;
    height: 100vmax;
  }

  section:nth-of-type(-n + 3) {
    border-right: 5px solid var(--color-border);
    border-bottom: 5px solid var(--color-border) ;
  }

  body section:nth-of-type(1) {
    top: 0;
    grid-area: 1/1/2/2;
  }

  section:nth-of-type(1) div:nth-of-type(1) img {
    display: none;
  }

  section:nth-of-type(2) img:nth-of-type(2) {
    display: none;
  }

  section:nth-of-type(2) {
    grid-area: 2/1/3/2;
  }

  section:nth-of-type(3) {
    grid-area: 3/1/4/2;
    height: 18em;
  }

  /* Vinyl | Positioning & Sizing */

  section:nth-of-type(4) {
    grid-area: 1/4/4/3;
    height: 100vw;
  }

  section:nth-of-type(4) img:nth-of-type(1) {
    width: 70vmax;
    position: relative;
    left: 32vmax;
    top: 2vmax;
  }

  section:nth-of-type(4) img:nth-of-type(2) {
    width: 40vmax;
    position: relative;
    z-index: -1;
    bottom: 53vmax;
    left: 48vmax;
  }
}

/* Javaschript Classes */


