/* CSS Document */

/*********/

/* FONTS */

/*********/

@font-face {
  font-family: "Avant garde";
  src: url("../fonts/itc_avant_garde_gothic_std_medium-webfont.woff2")
      format("woff2"),
    url("../fonts/itc_avant_garde_gothic_std_medium-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/**************/

/* CSS REMEDY */

/**************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not(:disabled),
summary {
  cursor: pointer;
}

/*********************/

/* CUSTOM PROPERTIES */

/*********************/

:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
}

/****************/

/* JOUW STYLING */

/****************/

html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  font-family: "avant garde", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

body h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 11em;
  position: relative;
  top: 30%;
}

/* M M */
h1 span:nth-of-type(n + 1):nth-of-type(-n + 2) {
  font-weight: 800;
  font-size: 4em;
}

/* M M Animatie */

@keyframes bounce {
  0% {
    transform: translateX(0);
    transform: scaleY(2);
  }
  50% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20%);
  }
}
/* Cijfer */

span:nth-of-type(3) {
  position: relative;
  font-size: 2.4em;
  font-weight: 400;
  border-style: solid;
  border-width: 6px;
  border-color: var(--color-text);
  border-radius: 100%;
  padding: 0% 7.2% 0% 7.2%;
  animation: flip 1.5s ease-in-out;
}

/* Cijfer Animatie */

@keyframes flip {
  0% {
    transform: translateY(0) rotateY(0) skew(0deg);
  }
  50% {
    transform: translateY(-100px) rotateY(180deg) rotateX(180deg);  
  }
  100% {
    transform: translateY(0) rotateY(360deg) skew(0deg);
  }
}

/* 0% {
  left: 0;
  transform: rotate(0deg);
}

25% {
  left: 10%;
  transform: rotate(360deg);
}

90% {
  left: 0;
  transform: rotate(-40deg);
}

100% {
  left: 0;
  transform: rotate(0deg);
}
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*****/

/* Maison Margiela */

 span:nth-of-type(4) {
  margin-top: -4%;
  font-size: 1.28em;
} 



/* Maison Margiela Animatie*/

@keyframes Carrousel {
0% {
  transform:translateX(-120%) ;
}
100% {
  transform:translateX(120%) ;
}


}

/*****/

/* Paris */

span:nth-of-type(5) {
  font-size: 0.8em;
}

/*****/

/* Media queries voor Responsiveness en Dark Mode */

@media (max-width: 400px) {

  html {
    height: 100%;
  }
  body h1 {
    position: relative;
    top: 30%;
    width: 6em;
    
  }

  h1 span:nth-of-type(n + 1):nth-of-type(-n + 2) {
    font-size: 2em;
  }

  span:nth-of-type(3) {
    font-size: 1.2em;
    border-radius: 100%;
    border-width: 4px;
    padding: 0% 12px 0% 12px;
  }

  span:nth-of-type(4) {
    margin-top: -5%;
    font-size: 0.65em;
  }

  span:nth-of-type(5) {
    font-size: 0.5em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffffff;
    --color-background: #000000;
  }
}
